.active-link{
    background-color: rgb(250, 150, 220);
    color: black;
}
.nav-link{
    color: black;
}
div{
    margin: 0 auto;
    width: 100%;
}
.imagen {
    width: 10%; 
  height: auto; 
  margin-right: 20px;
  padding-right: 5%;

    }